.pdf-canvas {
    border: 3px solid #bbb;
    border-radius: 5px;
    text-align: center;
}

.pdf-controls-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pdf-controls-group button {
    width: 15%;
}

.pdf-controls-group p {
    margin: 10px 0 0;
    font-weight: bold;
}
