.pdf-canvas {
    box-shadow: inset 0 0 1em gold, 0 0 1em blue;
    width: 100%;
}

.pdf-controls-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pdf-controls-group button {
    width: 15%;
}

.pdf-controls-group p {
    margin: 10px 0 0;
    font-weight: bold;
}
