.text-center {
    text-align: center;
}

.logout-btn {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 5%;
}

.action-btn-group {
    margin-left: 100px;
    clear: both;
}

.action-btn-group button {
    width: 15%;
    margin: 0 25px;
}

.fields {
    float: right;
    width: 30%;
    margin-right: 25px;
}

.fields-list {
    list-style: none;
}

.field-item {
    border: 5px solid #aaa;
    margin: 15px 0;
    padding: 8px 15px;
}

.pdf-container {
    display: inline-block;
    width: 50%;
    margin: 0 auto 100px 100px;
}
